.cli-window{
    width: 100%;
    height: 100%;
    padding-bottom: 3rem;
    background-color: #2b2b2b;
    overflow: auto;
   
    div[name="react-console-emulator"]{
        height: 100%;
        background-color: transparent !important;
    }
}