nav {
    width: 100%;
    cursor: pointer;
    color: whitesmoke;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    background-color: #9e9e9e1b;
    backdrop-filter: blur(5px);

    display: flex;
    justify-content: space-between;


    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


    .left,.right {
        display: flex;
        gap: 1rem;

    }

}