*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body,#root{
    width: 100%;
    height: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-image: url(./mac-walpaper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
body{
    background-color: black;
}